<p>curso works!</p>

<h1>Formulario</h1>
<form #myForm="ngForm" (ngSubmit)="onRegister()">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" name="name" required id="name" [(ngModel)]="register.name" />
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="name">Email</label>
    <input type="email" required name="email" id="email" [(ngModel)]="register.email" />
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="name">Passowrd</label>
    <input type="password" required name="password" id="Passowrd" [(ngModel)]="register.password" />
    <p>Mensajes de error</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Register</button>
</form>
<h1>NgClass & NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />
<hr class="line-error"
  [ngClass]="{
    'valid': nameInput4.valid,
    'invalid': nameInput4.invalid
  }"
 />
<div class="grid-two">
  <div>
    <input type="number" [(ngModel)]="box.width" />
    <input type="number" [(ngModel)]="box.height" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display': 'block'
    }"></div>
  </div>
</div>
<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
<p class="message-error" [class.invalid]="nameInput2.invalid">
  El campo es requerido
</p>
<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
<p [style.font-style]="nameInput3.invalid ? 'italic': 'normal'">Texto Texto Texto</p>
<div class="grid-two">
  <div>
    <input type="text" [(ngModel)]="widthImg" />
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="img" />
  </div>
</div>
<hr />
<h1>ngwitch</h1>
<input type="text" required [(ngModel)]="person.name" />
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'elvis'">soy elvis</p>
  <p *ngSwitchCase="'madeline'">soy madeline</p>
  <p *ngSwitchCase="'kevin'">soy kevin</p>
  <p *ngSwitchDefault>no soy nadie</p>
</div>
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()">Agregar nuevo nombre</button>
<ul>
  <li *ngIf="names.length === 0">No hay elementos</li>
  <li *ngFor="let name of names; index as i">
    {{i}} - {{name}}
    <button (click)="delete(i)">Delete</button>
  </li>
</ul>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img width="100px" [src]="product.image" alt="image"/>
    <h2>{{product.name}}</h2>
    <p>{{product.price}}</p>
  </div>
</div>
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="1 === 1">My content</p>
<p *ngIf="person.name === 'elvis'">soy elvis</p>
<p *ngIf="person.name === 'elvis' && person.age>=18">soy elvis mayor de Edad</p>
<p *ngIf="person.name === 'anthony'">soy anthony</p>
<p *ngIf="person.name === 'elvis' && person.age>=18; else myBlock">soy elvis mayor de Edad</p>
<ng-template #myBlock>
  <p>Es menor de edad y quizas no se llama elvis</p>
</ng-template>
<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>
<p>Edad {{ person.age }}</p>
<input type="number" width=100px required max="18" min="10" #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Valid: {{ ageInput.valid }}</p>
<hr/>
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()">Age++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At labore quae aspernatur quia sapiente eius dolorum velit laudantium consectetur quas animi quasi accusantium harum consequuntur, officia illo quam rerum eos.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut amet ratione possimus sequi explicabo, fuga obcaecati voluptate eum laborum repellat! Quaerat quasi asperiores, voluptates sit beatae doloribus ipsam molestiae exercitationem.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id alias corrupti voluptates. Totam, impedit. Possimus id neque labore reprehenderit corporis! Obcaecati accusantium a non debitis eius ducimus, quisquam voluptatibus tenetur?
  </p>
</div>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />
<p>Nombre {{ person.name }}</p>
<hr/>
<h1>Propiedades</h1>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<hr/>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="name" />
<progress max="100" [value]="age"></progress>
<img width="100" [src]="img" />
<hr/>

<h1>Hola mundo</h1>
<h2>{{'hola mundo'.repeat(5)}}</h2>
<p>3 + 3 = {{3+3}}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }} años</h3>
<img src={{img}} width="100px" alt="img" />

